app = 'opm-node-counter'
primary_region = 'ams'

[build]

[env]
  PORT = '3000'
  NODE_ENV = 'production'
  SQLITE_PATH = '/data/stats.db'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'

[[mounts]]
  source = 'opm_data'
  destination = '/data'
  initial_size = '1gb'
